@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bitter', serif;
}

.header{
    background-color: #023047;
    height: 10vh;
    min-height: 80px;
    padding: 0 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #1d86a0;
}

.header__title{
    font-size: 2em;
}

.header__card{
    display: flex;
    align-items: center;
   
}

.header__card--instagram{
    width: 24px;
    height: 24px;
    background-image: url('images/instagram.svg');
    margin-right: 2px;
}

.header__card--name{
    text-decoration: underline;
    font-size: 16px;
}

.header__card--img{
    width: 50px;
    height: 50px;
    background-image: url('images/blopa.jpg');
    background-size: cover;
    background-position: 0 -10px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: 12px;
}

.container{
    width: 90%;
    min-height: 80vh;
    max-width: 1200px;
    margin: 10px auto;
    overflow: hidden;
}

.slider{
    background-color: #f2f2f2;
    padding: 40px 0;
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    gap: 0.2em;
    align-items: center;
    transition:opacity 1s;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__text{
    max-width: 700px;
    text-align: justify;
    margin-right: 15px;
}

.title{
    font-size: 2rem;
    margin-bottom: 5px;
    color: #023047;
}

.author{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #5c5c5c;
}

.slider__review{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
}

.slider__img{
    width: 230px;
    height: 360px;
    border-radius: 3%;
    object-fit: cover;

    display: block;
    margin: 0 auto;

}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-content: end;
}

@media(max-width:768px){

    .title{
        font-size: 1.5rem;
    }

    .author{
        font-size: 1rem;
    }

    .slider__img{
        width: 160px;
        height: 220px;
        margin-left: 10px;
    }
}

@media(max-width:425px){

    .header{
        padding: 0 16px;
    }

    .header__title{
        font-size: 1.5em;
    }

    .slider{
        padding-top: 20px;
    }
    .slider__container{
        grid-template-columns: 25px 1fr 25px;
        align-items: stretch;
    }

    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        align-items: baseline;
    }

    .slider__picture{
        grid-row: 1/2;
    }

    .slider__arrow{
        width: 100%;
    }

    .slider__img{
        width: 120px;
        height: 180px;
        margin: 0 auto;

    }

    .title{
        font-size: 1rem;
        margin-top: 10px;
        text-align: center;
    }

    .author{
        font-size: .8rem;
        text-align: center;
    }

    .slider__review{
        font-size: 14px;
        line-height: 1.3;
    }

    
}